<div class="col-md-6 user-container">
    <h2 style="margin: auto"> Product Details</h2>
    <br>
    <button class="btn btn-danger" style="width:100px" data-toggle="modal" data-target="#exampleModal" (click)="addproduct()"> Add
        Product</button>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>category Id</th>
                <th>Category Name</th>

            </tr>
        </thead>
        <tbody>


            <tr *ngFor="let product of productData | paginate : {
                itemsPerPage: pageSize,
                currentPage: page,
                totalItems: count
              };
        let i = index">
                <td>{{product.id}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.categoryId}}</td>
                <td>{{product.categoryName}}</td>
                <td> <button class="btn btn-primary" (click)="deleteProduct(product.id)"> Delete Product</button></td>
                <td><button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                        (click)="editProduct(product)"> Edit Product</button></td>
            </tr>


        </tbody>


    </table>
    <br>
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
       Category Details
      </button> -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="Student">Product Name:</label>
                        <input required type="text" name="ProductName"  [(ngModel)]="ProductNameModel" #ProductName="ngModel">
                    </div>


                    <div class="form-group">
                        <label class="col-form-label" for="Student">Category Name:</label>
                        <div class="select-wrap">
                            <select required class="form-control" name="categories" id="categories"
                                [(ngModel)]="categorymodel" #categories="ngModel">
                                <option *ngFor="let category of categoriesdata" [ngValue]="{ id: category.id, name: category.categoryName }">
                                    {{category.categoryName}}</option>
                            </select>
                        </div>
                    </div>




                </div>


                <div class="modal-footer">
                    <button type="button"  class="btn btn-primary"  data-dismiss="modal" (click)="createProduct()">Submit</button>
                    <!-- <button type="button" class="btn btn-primary">Edit Category</button> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-3">


    Items per Page:
    <select (change)="handlePageSizeChange($event)">
      <option *ngFor="let size of pageSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </div>

<div class="col-md-12">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      responsive="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div>